/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.hide {
    display: none;
}

.show-hiden:hover .hide {
    display: inline;

}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-orange-100 {
    color: #ffe5d0
}

.text-color-a {
    color: #694b94;
}

/*input[type="checkbox"] {
    accent-color: #198754; 
  }*/

.check-green:checked {
    background-color: #54c1bb;
    border-color:#54c1bb;
}

.check-green:focus {
    border-color:#54c1bb;
    outline: 0;
    box-shadow: 0 0 0 .25rem #54c1bc86;
}
body{
    background-image: url(https://images.unsplash.com/vector-1739202818384-67e5c0b163df);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-purple{
    background-color: #694b94;
}

.border-top-purple{
    border-top: solid #412e5b;
}